---
import { getCollection } from "astro:content";
import CardProject from "../components/CardProject.astro";
import Layout from "../layouts/Layout.astro";

const allProjects = await getCollection("projects");
---

<Layout title="Welcome to My Portfolio.">
  <main>
    <div>Hello World :D</div>
    <!-- <div class="gradient-dark-1"></div>
    <div class="gradient-dark-2"></div>
    <div class="gradient-light-1"></div>
    <div class="gradient-light-2"></div> -->
    <ul>
      {
        allProjects.map(project => (
          <CardProject
            title={project.data.title}
            description={project.data.description}
            imageUrl={project.data.image.url}
            imageAlt={project.data.image.alt}
            link={project.data.link}
            tags={project.data.tags}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: var(--color-text);
    font-size: 20px;
    line-height: 1.6;
  }
  .gradient-dark-1 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-dark);
  }

  .gradient-dark-2 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-secondary-dark);
  }

  .gradient-light-1 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-light);
  }

  .gradient-light-2 {
    height: 100px;
    width: 100px;
    background: var(--gradient-highlight-secondary-light);
  }
</style>
