---
import { Image } from "astro:assets";
import Tag from "./Tag.astro";

const { title, description, imageUrl, imageAlt, link, tags } = Astro.props;
---

<li>
  <a href={link} target="_blank">
    <div>
      <h4>{title}</h4>
      <div>
        <Image src={imageUrl} alt={imageAlt} width={400} height={260} />
        <p>{description}</p>
      </div>
      <div>
        {tags.map(tag => <Tag label={tag} />)}
      </div>
    </div>
  </a>
</li>
