---
import { Image } from "astro:assets";
import Tag from "./Tag.astro";

const {
  timeframe = null,
  title,
  description,
  imageUrl = null,
  imageAlt = null,
  link,
  tags,
} = Astro.props;
---

<li class="card">
  <a class="card__link" href={link} target="_blank">
    <div>
      {timeframe && <div>{timeframe}</div>}
      <h4>{title}</h4>
      <div>
        {
          imageUrl && imageAlt && (
            <Image
              class="card__image"
              src={imageUrl}
              alt={imageAlt}
              width={400}
              height={260}
            />
          )
        }
        <p>{description}</p>
      </div>
      <div>
        {tags.map(tag => <Tag label={tag} />)}
      </div>
    </div>
  </a>
</li>

<style>
  .card {
    list-style: none;
  }

  .card__link {
    color: var(--color-text);
    text-decoration: none;
  }
  .card__image {
    max-width: 100%;
    height: auto;
  }
</style>
